@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Porsche';
        font-weight: 400;
        src: url('/porsche-next-w-la-semi-bold.min.b5f6fca7225aa73578f65320bcf79b45.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Porsche';
        font-weight: 500;
        src: url('/porsche-next-w-la-semi-bold.min.b5f6fca7225aa73578f65320bcf79b45.ttf') format('truetype');
    }
}


