@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Porsche';
        font-weight: 400;
        src: url('./assets/font/PorscheNext-Regular.otf') format('OpenType');
    }

    @font-face {
        font-family: 'Porsche';
        font-weight: 600;
        src: url('./assets/font/PorscheNext-SemiBold.otf') format('OpenType');
    }

    @font-face {
        font-family: 'Porsche';
        font-weight: 900;
        src: url('./assets/font/PorscheNext-Bold.ttf') format('TrueType');
    }

    @font-face {
        font-family: 'Porsche';
        font-weight: 200;
        src: url('./assets/font/PorscheNext-Thin.otf') format('OpenType');
    }
}


body {
    z-index: -100;
    background-color: white;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}